*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: auto repeat(4, min-content);
  position: relative; 
 
  background-image: linear-gradient(to left, green, black);}


.navigation {
  background-image: linear-gradient(to left, green, black);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  display: grid;
  grid-template-columns: max-content max-content;
  padding: 2.7rem 0;
  z-index: 100;
  justify-content: space-around; 
  text-shadow:  1px 1px #000;}
  .navigation .menu {
    align-self: center;
    margin-left: 9rem; }
  .navigation a, .navigation a:link, .navigation a:visited {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.2rem; }
  .navigation a:hover {
    color: #ff9700; }

.logo {
  background-color: transparent;
  display: grid;
  grid-template-columns: min-content min-content; }
  .logo__icon {
    display: inline;
    height: 5rem;
    width: 10.5rem; }
  .logo__text {
    display: inline;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 2.4rem; 
    text-shadow:  1px 1px #000;
    letter-spacing: 1.5px;
}

.bg-video {
  position: absolute;
  top: 9rem;
  left: 0;
  height: 80vh;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; 
  height: 100%;
  width: 100%;
  object-fit: cover; 
}
.signupimg{
    position: relative;
    width: 100vw;
    height: 100vh;
}



/*----------------------*/

#box{
    background:rgb(255, 255, 255, .2);
    /* height: 200px; */
    /* width: 200px; */
    height: 100%;
    width: 100vw;
    padding: 2rem;
    padding: 50px;
    box-sizing: border-box;
    color: white;
    
    text-align: center;
    transform: translateY(13rem);
    
}

#logintitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    /* color: #888; */
}

#box p{
    font-size: 1.9rem;
}

.form-wrapper {
    background: (256, 256, 256, 0.5);
    margin: 3em auto;
    padding: 0 1rem;
    display: block;
    font-size: 1.5rem;
  
  }
input{
    border-radius: 3.5px;
    border: none;
    margin-bottom: 3px;
    margin-left: 5px;
    padding: .4rem;
    
}
.button {
    display: inline-block;
    background:rgba(131, 128, 126, 0.9);
    color: white;
    border: solid 1px grey;
    padding: .5rem;
    margin:auto;
    background: linear-gradient(rgba(131, 128, 126, 0.9), rgba(66, 65, 64, 0.9));
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    border-radius: 5px;
}


.button:hover{
    display: inline-block;
    border-color: #888;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    background:rgba(131, 128, 126, 0.9);
    background: linear-gradient(to top, rgba(190, 187, 185, 0.9),rgba(131, 128, 126, 0.9));
    animation-name: buttonAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.button:active{
    position: relative;
    top:1px;
}
/* */
#loginsignup{
    transform: translateY(-2rem);
    font-size: 1.5rem;
 }
#loginsignup a{
    display: block;
    text-decoration: none;
    color: white;
    
}

.sub-publishers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    margin-top: 4rem;
}

.sub-pub-box{
    color:white;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(black, dimgrey);
    border: .2rem solid cyan;
    height: 5rem;
    font-size: 1.6rem;
    width: auto;
    padding: 2rem;
    border-radius: 10px;
    text-decoration-line: none;
    font-weight: bold;
    font-family: sans-serif;
}

.sub-duration{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    margin-bottom: 4rem;
}

.sub-dur-box{
    color: white;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(black, purple);
    border: .2rem solid cyan;
    height: 5rem;
    font-size: 1.6rem;
    width: auto;
    padding: 2rem;
    border-radius: 10px;
    text-decoration-line: none;
    font-weight: bold;
    font-family: sans-serif;
}





/*----------------------*/

footer{
  background-image: linear-gradient(to left, green, black);
  height:auto;
  padding: 2rem;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;

}

/* Global */

* {
    box-sizing : border-box;
  }
  
  body,
  html {
    height     : 100%;
    min-height : 100%;
  }
  
  body {
    margin           : 0;
    background-color : #e7e7e7;
    font-family      : 'Roboto',
                       sans-serif;
  }
  
  /* Credit Card */
  
  .credit-card {
    width            : 360px;
    height           : 300px;
    margin           : 60px auto 0;
    border           : 1px solid #ddd;
    border-radius    : 6px;
    background-color : black;
    box-shadow       : 1px 2px 3px 0px rgba(0,0,0,0.10);
    padding-bottom: 2rem;
  }
  
  .form-header {
    height        : 60px;
    padding       : 20px 30px 0;
    border-bottom : 1px solid #E1E8EE;
    border-bottom: 4rem;
  }
  
  .form-body {
    height  : 300px;
    padding : 30px 30px 20px;
  }
  
  /* Title */
  
  .title {
    margin    : 0;
    color     : #5e6977;
    font-size : 18px;
  }
  
  /* Common */
  
  .card-number,
  .cvv-input input,
  .month select,
  .paypal-btn,
  .proceed-btn,
  .year select {
    height : 42px;
  }
  
  .card-number,
  .month select,
  .year select {
    font-size   : 14px;
    font-weight : 100;
    line-height : 14px;
  }
  
  .card-number,
  .cvv-details,
  .cvv-input input,
  .month select,
  .year select {
    color   : #86939e;
    opacity : .7;
  }
  
  /* Card Number */
  
  .card-number {
    width         : 100%;
    margin-bottom : 20px;
    padding-left  : 20px;
    border        : 2px solid #e1e8ee;
    border-radius : 6px;
  }
  
  /* Date Field */
  
  .month select,
  .year select {
    -moz-appearance     : none;
    -webkit-appearance  : none;
    width               : 145px;
    margin-bottom       : 20px;
    padding-left        : 20px;
    border              : 2px solid #e1e8ee;
    border-radius       : 6px;
    background          : url('caret.png') no-repeat;
    background-position : 85% 50%;
  }
  
  .month select {
    float : left;
  }
  
  .year select {
    float : right;
  }
  
  /* Card Verification Field */
  
  .cvv-input input {
    width         : 145px;
    float         : left;
    padding-left  : 20px;
    border        : 2px solid #e1e8ee;
    border-radius : 6px;
    background    : #fff;
  }
  
  .cvv-details {
    float         : right;
    margin-bottom : 20px;
    font-size     : 12px;
    font-weight   : 300;
    line-height   : 16px;
  }
  
  .cvv-details p {
    margin-top : 6px;
  }
  
  /* Buttons Section */
  
  .paypal-btn,
  .proceed-btn {
    cursor: pointer;
    width         : 100%;
    border-color  : transparent;
    border-radius : 6px;
    font-size     : 16px;
  }
  
  .proceed-btn {
    margin-bottom : 10px;
    background    : #7dc855;
  }
  
  .paypal-btn a,
  .proceed-btn a {
    text-decoration : none;
    cursor          : pointer;
  }
  
  .proceed-btn a {
    color : #fff;
  }
  
  .paypal-btn a {
    color : rgba(242, 242, 242, 0.7);
  }
  
  .paypal-btn {
    padding-right : 95px;
    background    : url('paypal-logo.svg') no-repeat 65% 56% #009cde;
  }
  
  main {
    padding: 100px 0;
    width: 700px;
    margin: 0 auto;
    margin-top: -7rem;
  }
  
  header {
    height: 100px;
    text-align:center;
  }
  
  h1 {
   
    margin: 0;
    text-align:center;
  }
  
  h2 {
    margin: 0 0 50px;
    text-align:center;
  }
  
  #cart-container {
   
    width: 210px;
    position: relative;
  }
  
  #itemCount {
    position: absolute;
    display: none;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
  }
  
  nav {
    margin-bottom: 30px;
  }
  
  nav ul {
    list-style: none;
    overflow: auto;
    width: 100%;
    background: #444444;
  }
  
  nav ul li {
    float: left;
    padding: 5px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    color: #444444;
    background: #cccccc;
  }
  
  nav ul li:hover a {
    color: #444444;
  }
  
  img {
    width: 50%;
  }
  
  .item {
    width: 100%;
   
    margin: 1%;
  }
  
  .itemText p {
    margin-bottom: 20px;
  }
  
  .price-container {
    margin-top: 20px;
  }
  
  i:hover {
    cursor: pointer;
  }
  
  #shoppingCart {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
  }
  
  #cartItemsContainer {
    position: relative;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
  }
  
  #cartItemsContainer i {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  #cartItemsContainer .itemDetails {
    overflow: auto;
    width: 100%;
    margin-bottom: 40px;
  }
  
  #cartItemsContainer .itemImage {
   
    width: 260px;
    padding: 0 40px;
  }
  
  #cartItemsContainer .itemText {
    
    width: 260px;
    padding: 0 40px;
  }
  
  #cartItemsContainer .itemText .price-container {
    margin-top: 0;
  }
  
  .removeItem {
    margin-left: 40px;
  }
  
  .comics{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    align-self: space-between;
  
  }
  
  
  .subscriptions{
    display: grid;
    grid-template-columns: auto auto auto;
  
  }
  
  #marvel{
    margin-top: 3rem;
  }
  #marvel img{
    margin-bottom: 4rem;
    width: 80%;
  }
  
  .subscriptions .item{
    display: grid;
    grid-template-rows:auto auto;
    grid-row-gap: 3rem;
    text-align: center;
    
  }
  
  .subscriptions .add{
    justify-self: center;
  }
  .mult{
    color:transparent;
  }

  button{
    width: 8rem;
    height: 3rem;
  }

  .cv-input input {
    width         : 250px;
    border        : 2px solid #e1e8ee;
    border-radius : 6px;
    background    : #fff;
  }

